/* .App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* Form Space */
.form-place{

    width: 820px;
    height: 700px;
    Top:690px;
    Left:289px;
    background: linear-gradient(180deg, #F3F1FF 0%, rgba(255, 214, 189, 0.38) 100%);
   
}
/* Buttons */
button {
position: relative;
top: 15px;
background: #1C1258;
padding-left: 50px;
padding-right: 50px;

}

/* Contact Us Text */
.container1 {
height: 315px;
top: 80px;
background: linear-gradient(84.22deg, #1C1258 43.78%, #FFB0B0 207.86%);
}

/* Footer Part */
.container2 {
  height: 315px;
  top: 80px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(70.00deg, #1C1258 30.78%,#FFB0B0, #1C1258 180.78%);
  }
  
/* Contact Us Text */
.contact-label {

  color: white;
  font-weight: 700;
  font-size: 48px;
}

/*Para Text*/
.container3 {
/* position: absolute; */
width: 1133px;
height: 119px;
/* left: 142px; */
text-align: center;
color: #777777;
margin-left: 160px;
}

.container4 {
  /* position: absolute; */
  width: 206px;
  height: 59px;
  /* left: 142px; */
  text-align: center;
  color: #777777;
  margin-left: 80px;
  }
.ant-drawer-header {
  background-color: #1C1258;
  border-radius: 0;
}
.ant-drawer-body {
  background-color: white;
  color: black;
  height: calc(100vh - 55px);  
}
.form-place2 {
  width: 340px;
  height: 550px;
  background: linear-gradient(180deg, #F3F1FF 0%, rgba(255, 214, 189, 0.38) 100%);
}
.mar {
  margin-top:40px;
}

